# will fetch new pif apk if connected to internet
# if pif.apk version from server is same as the last fetched then it wont get updated

# Use make pif updater as a oneshot service instead since we added its own sepolicy domains
service pif_auto_updater /system/bin/pif-updater
    class main
    seclabel u:r:pif_updater:s0
	user root
	group root system
    disabled
    oneshot

on fs
    exec_background u:r:pif_updater:s0 root root -- /system/bin/sensitiveprops.sh

on property:sys.boot_completed=1 && property:persist.sys.oemports10t.utils.pif.autoupdate=true
    start pif_auto_updater